body {
    font-family: "DM Sans", sans-serif;
    background-color: #eee;
    height: 100vh;
    padding: 100px;
}


.grid-container {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}


div {
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

/*=======================================================*/
/* div: Social media 10x faster with AI & 5 star reviews*/

.purple-div {
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    /* grid-column: span 2; */
}

.big-title {
    font-size: 4rem;
    margin-bottom: 15px;
}

.orange-span {
    color: #e8c378;
    
}

p.light-body {
    color: hsl(0, 0%, 78%);
    margin-top: 0;
}

#five-stars {
    width: 8em;
}
/*=======================================================*/


/*=======================================================*/
/* div: Multiple Accounts and platforms*/

.white-div {
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.medium-title {
    font-size: 2.5rem;
    font-weight: bold;  
}
/*=======================================================*/


/*=======================================================*/
/* div: Consistent Posting Schedule*/

.yellow-div {
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
}


/*=======================================================*/


/*=======================================================*/
/* div: Consistent Posting Schedule*/

.light-purple-div {
    background-color: hsl(254, 88%, 90%);
    overflow: hidden;
    /* grid-row: span 2; */
}
/*=======================================================*/


/*=======================================================*/
/* div: Create Post*/

.light-yellow-div {
    background-color: hsl(31, 66%, 93%);
}
/*=======================================================*/



.big-span {
    font-size: 3rem;
}

.purple-span {
    color: blueviolet;
}


.row-wise {
    display: flex;
}


.grow-followers{
    margin-left: 30px;
}

img.best-time {
    height: 60%;
    object-fit: cover;

}

.light-purple-div > p {
    margin: 0px;
    padding: 30px;
}

img.calender {
    object-fit: cover;
    object-position: 5px 10%;
}


img.multiple-platforms {
    object-fit: cover;
    object-position: 10% 10px;
}




/*======================================*/

.social-media-wth-ai {
    grid-area: 1 / 2 / 2 / 4;
}

.multiple-accounts {
    grid-area: 2 / 2 / 3 / 3;
}

.posting-schedule {
    grid-area: 2 / 3 / 3 / 4;
}

.social-media {
    grid-area: 1 / -2 / 3 / -1;
}

.grow-followers {
    grid-area: -2 / -3 / -1 / -1;
}

.audience-growth {
    grid-area: -2 / 2 / -1 / 3;
}

.grid-inner-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-area: 1 / 1 / 4 / 2;
}
